@mixin button($bg, $color) {
     background-color: $bg;
     color: $color;
}

@mixin media-font-size ($screen-size, $font-size) {
      @media (max-width: $screen-size) {
           font-size: $font-size;
      }
 }