@media (max-width: 767px) {
    header {
        .container {
            .header-wrapper {
                nav ul {
                    li  {                        
                        a {
                            padding: 38px 10px 38px;
                        
                        }
                    }
                }
            }
        }    
    }
}    

@media (max-width: 320px) {
    header {
        .container {
            .header-wrapper {
                nav ul{
                    flex-wrap: wrap;
                    li {
                        width: 50%;
                        margin-bottom: 10px;
                    }
                }    
            }
        }    
    }
} 

